.App {
  text-align: center;
}

.App-header {
  background-color: #ebedf0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.searchBox {
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
  height: 8vh;
}

.errorBox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  color: red;
  font-size: 15px;
  font-weight: bold;
  width: 30vw;
  min-width: 300px;
}

.cardListBox {
  margin-top: 5vh;
  min-height: 80vh;
}



